<li href="#" >

  <%#= link_to list.title, list.user, id: "list-#{list.id}", class: "list-group-item lists" -%>
  <a id="list-#{list.id}" class="list-group-item lists" href="#"><%=list.title%><span class="badge">12</span></a>

</li>
