<li href="#" >

  <%#= link_to list.title, list.user, id: "list-#{list.id}", class: "list-group-item lists" -%>
  <a id="list-#{list.id}" class="list-group-item lists" href="#"><%=list.title%><%= link_to "x", current_user, method: :delete, data: {confirm: "Delete this list?"}, class:"badge"%></a>

</li>
