<% provide(:title, "About") %>

<div class="center jumbotron">
  <h1>About Learn.list</h1>
  <h3>Learn.list can help you organize and discover your online learning resources - whether you're learning web development, gardening, or amateur surgery!</p>

  <%= link_to "Sign up now", "#", class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("learnlist-logo.svg", alt: "Learn.list logo"),
            '#' %>
