<% provide(:title, "About") %>
<h1>About</h1>
<p>Learnlist can help you organize and discover your online learning resources - whether you're learning web development, gardening, or amateur self-dentistry!</p>
