<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>About Learn.list</h1>
  <h3>Learn.list can help you organize and discover your online learning resources - whether you're learning web development, gardening, or amateur surgery!</p>

  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  <p id="new-here">
    Already a member? <%= link_to "Sign in now!", "#" %>
  </p>

</div>
