@import "bootstrap-sprockets";
@import "bootstrap";


// img{
//   width: 100px;
//   margin-top: 60px;
// }

$grey: #555;
$light_grey: #777;
$lighter_grey: #eaeaea;
$basically_black: #222;
$bright_redpink: #f95a4c;
$orangey_redpink: #f61;


//errors

#error-explanation{
  color: $bright_redpink;
  ul{
    color: $bright_redpink;
    margin: 0 0 30px 0;
  }
}


// for the debugger and forms
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// for the debugger - only for me
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// Forms

.signup-form{
  margin: 0 auto;
}

input, textarea, select{
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 15px;
  @include box_sizing;

}

.btn-primary{
  height: 40px !important;
  border-radius: 2px !important;
  background-color: $bright_redpink;
  border: 0px;
  font-size: 20px;

  &:hover{
    background-color: $orangey_redpink;
  }
}

input{
  height: 30px !important;
  border-radius: 2px;
}



body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  // text-align: center;
  padding-left: 10%;
  padding-right: 10%;

  h1 {
    margin-bottom: 10px;
  }
}

// New here? Sign up now!
#new-here{
  font-size: 12px;
  padding-top: 10px;
  a{
    font-weight: bolder;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-right: 10px;
  border-top: 1px solid $lighter_grey;
  color:$light_grey;

  a {
    color: $grey;

    &:hover {
      color: $basically_black;
    }
  }

  ul {
    float: right;
    list-style: none;
  }
  li {
    float: left;
    margin-left: 15px;
  }

}

.sign-in-form{
  text-align: center;

}

.sign-in-title{
  font-style: italic;
  padding-bottom: 15px;
}

.modal{
  position: absolute;
}

#navbar{

  float: right;
}

.search{
  float: right !important;
}

.search-btn{
  margin-top: -10px;
}
