<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <!-- <span id="logo"><%=link_to image_tag("learnlist-logo.svg", alt: "Learn.list logo"),
                  '#'%></span> -->
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#' %></li>
          <li><%= link_to "Help",   '#' %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>
