
<div class="sign-in-form">

  <%= form_for User.new, method: "post" do |f| %>
  <h5 class="sign-in-title">"Education is the kindling of a flame, not the filling of a vessel" - Socrates</h5>

    <div>
      <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>

    <%= f.submit "Sign In" %>

  <% end %>

</div>
